click==6.7
Flask==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
pyTelegramBotAPI==2.3.0
redis==2.10.5
requests==2.7.0
six==1.10.0
telegram==0.0.1
virtualenv==15.1.0
Werkzeug==0.11.15
hiredis==0.2.0